// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


.admin_dashboard {
  .panels_integer {
    .panel {
      height: 70px;
      width: 14.2%;
      float: left;
      margin: 0.4%;
    }
    .panel h3 {
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      border-bottom: 1px solid #eee;
      padding: 4px 6px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
      border-radius: 4px 4px 0 0;
    }
    .panel+.panel {
      margin: 0.4%;
    }
    .panel_contents {
      font-size: 18px;
      text-align: center;
    }
  }
}

.space {
  clear: both;
  height: 8px;
}

.panel {
  box-sizing: border-box;
}

.panel.dashboard-panel {
  margin: 0.4%;
}

.panel.dashboard-panel h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 4px 4px 0 0;
  margin: 0 0 8px 0;
}
.panel.dashboard-panel .panel-form {
  margin-bottom: 8px;
  font-size: 12px;
}

.panel.dashboard-panel .panel-form input[type=text] {
  border-radius: 2px;
  border: 1px solid #ddd;
  height: 30px;
  width: 100px;
  padding: 4px 8px;
  color: #666;
}

img.thumb {
  max-width: 150px !important;
}

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

form.edit_faq_order,
.admin_settings #main_content form {
  &.success {
    input, textarea, select {
      border-color: green;
    }
  }
  &.error {
    input, textarea, select {
      border-color: red;
    }
  }
}

input[type=datetime-local] {
  border: 1px solid #c9d0d6;
  padding: 2px 10px;
}

h2 {
  margin-left: 3px;
  margin-bottom: 0;
  color: #333;
  margin-top: 20px;
}